@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("Inter-Bold.ttf");
}

@font-face {
  font-family: "IntegralCF";
  font-weight: 400;
  font-style: normal;
  src: url("IntegralCF-Regular.otf");
}

@font-face {
  font-family: "IntegralCF";
  font-weight: 600;
  font-style: normal;
  src: url("IntegralCF-DemiBold.otf");
}

@font-face {
  font-family: "IntegralCF";
  font-weight: 900;
  font-style: normal;
  src: url("IntegralCF-Heavy.otf");
}

iframe {
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

blockquote {
  font-weight: 700;
  width: 70%;
  margin: 2rem auto;
}

@media (min-width: 1024px) {
  blockquote {
    float: left;
    width: 40%;
    margin: 2rem 5rem;
    margin-left: -6rem;
  }
}

blockquote::before {
  content: "";
  display: block;
  height: 5px;
  width: 25%;
  border-bottom: 20px solid #b1d2f5;
}

a[href^="https://www.youtube"]
{
  position: relative;
  display: block;
}

a[href^="https://www.youtube"]::after
{
  position: absolute;
  content: url(/play.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-links a {
  position: relative;
}

.navigation-links a::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 0;
  background: black;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

.chronology a {
  text-decoration: underline;
}

a:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .navigation-links a::after {
    display: none;
  }
}

.article a {
  box-shadow: inset 0 -0.175em white, inset 0 -0.45em #b1d2f5;
  transition: all 300ms ease-in-out;
}

.article a:hover {
  box-shadow: inset 0 -0.175em white, inset 0 -0.45em #5ba1e5;
}

.text-block p {
  margin-bottom: 1em;
}

.leading-relaxed p {
  margin-bottom: 1em;
}

.leading-relaxed li p {
  margin-bottom: 0;
}

.leading-relaxed ol,
.leading-relaxed ul {
  list-style: revert;
}

.diagonal-blue {
  position: relative;
  isolation: isolate;
}

.diagonal-blue::after {
  content: "";
  background-image: linear-gradient(45deg, #b1d2f5, #5ba1e5);
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: skewY(5deg);
}

.diagonal-purple {
  position: relative;
  isolation: isolate;
}

.diagonal-purple::after {
  content: "";
  background-image: linear-gradient(45deg, #5ba1e5, #8e8dd6);
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
}

@media (min-width: 768px) {
  .featured .grid-cols-spid a:first-child {
    grid-column: 1 / span 2;
  }

  .featured .grid-cols-spid a:first-child img {
    aspect-ratio: 16/9;
    flex-grow: 1;
  }
}

.article b {
  display: inline-block;
  padding: 1em 0;
}

.steps {
  counter-reset: heading;
}

.step::before {
  content: counter(heading) ". ";
  counter-increment: heading;
}
