@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

iframe {
  margin: 0 auto;
}

.bg-white-half {
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, transparent 50%);
}

.leading-relaxed p {
  margin-bottom: 1em;
}

.leading-relaxed li p {
  margin-bottom: 0;
}

.leading-relaxed ol,
.leading-relaxed ul {
  list-style: revert;
}

a[href^="https://www.youtube"]
{
  position: relative;
  display: block;
}

a[href^="https://www.youtube"]::after
{
  position: absolute;
  content: url(/play.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
